<p-password 
    class="form-control input-control"
    [ngClass]="formCls"
    [id]="uniqueId"
    [(ngModel)]="value" 
    [toggleMask]="true"
    [disabled]="disabled"
    (change)="change()"
    (keyup)="onKeyUp($event)"
    (blur)="touched($event)"
    [required]="required"
    [placeholder]="placeholder"
    [attr.step]="step"
    [attr.tabindex]="readonly || disabled ? '-1' : 1"
    [attr.readonly]="readonly ? '' : null"
    [attr.minlength]="minlength"
    [attr.maxlength]="maxlength"
    [attr.min]="min"
    [attr.max]="max"
>
<ng-content></ng-content>