<div class="modal-header">
    <h4 class="modal-title pull-left" id="my-modal-title">{{title}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="form">
      <formly-form [model]="data" [fields]="fields" [options]="options" [form]="form"></formly-form>
    </form>
    <div>
        <label class="form-label">Upload Files</label>
        <p-fileUpload
          #fileUpload
          (uploadHandler)="uploadFile($event, fileUpload)"
          [customUpload]="true"
          [auto]="true"
          [multiple]="true"
          [showCancelButton]="false"
          accept=".jpeg,.png,.jpg,"
          [maxFileSize]="2000000"
          chooseLabel="Choose File"
          chooseIcon=" "
          styleClass="custom-upload"
        >
          <ng-template pTemplate="content">
            <ul *ngIf="bookImage.length">
              <li *ngFor="let file of bookImage">
                <a [href]="file.base64" [download]="file.file.fileName">
                  <i class="fa fa-download me-2"></i>
                  <span class="text-black">{{ file.file.fileName }}</span>
                </a>
                <i class="fa fa-trash text-danger ms-2" style="cursor: pointer;" (click)="removeFile(file.id || '')"></i>
              </li>
            </ul>
          </ng-template>
          <!-- <ng-template let-file pTemplate="file">
            <p>{{ file.name }} <i class="fa fa-spinner ms-2"></i></p>
          </ng-template> -->
        </p-fileUpload>
      </div>

    <p-tabView>
        <p-tabPanel header="Author(s)">
            <div class="row">
                <div class="d-flex justify-content-end mb-2">
                    <button class="btn-primary text-white rounded p-2" (click)="addAccount()">
                        <i class="fa fa-plus"></i>
                        Add author
                    </button>
                </div>
                <p-table 
                    [value]="authors"
                    [paginator]="true"
                    [rows]="5"
                    [rowsPerPageOptions]="[5, 10, 25, 50]"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-bookAuthor>
                        <tr>
                            <td>{{bookAuthor.author.name}}</td>
                            <td>{{bookAuthor.author.mail}}</td>
                            <td>{{bookAuthor.author.phone}}</td>
                            <td><i class="fa fa-trash"></i></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Publisher(s)">
            <div class="row">
                <div class="d-flex justify-content-end mb-2">
                    <button class="btn-primary text-white rounded p-2">
                        <i class="fa fa-plus"></i>
                        Add publisher
                    </button>
                </div>
                <p-table 
                    [value]="publishers" 
                    [paginator]="true"
                    [rows]="5"
                    [rowsPerPageOptions]="[5, 10, 25, 50]"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-publisher>
                        <tr>
                            <td>{{publisher.name}}</td>
                            <td>{{publisher.mail}}</td>
                            <td>{{publisher.phone}}</td>
                            <td><i class="fa fa-trash"></i></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
    </p-tabView>
    
    <div class="submit-section">
        <button class="btn btn-primary submit-btn"[disabled]="form.invalid" (click)="submit()">Submit</button>
    </div>
</div>
