
<h4 class="m-3"style="font-size: 25px;"><strong>Categories</strong></h4>
<div class="m-3"style="background-color: #F3F4F6;">
    <div class="p-3 row" style="background-color: white;">
        <input type="text" class="rounded-2 col-8 border" placeholder="Name">
        <button class="btn-primary text-white rounded-2 p-3 col-2" style="margin-left: 20px;">
            <i class="fa fa-search"></i>
            Search
        </button>
        <button class="btn-primary text-white rounded-2 p-3 w-auto col-2" (click)="edit('')" style="margin-left: auto;">
            <i class="fa fa-plus"></i>
            Add Category
        </button>
    </div>   
    <div>
        <p-table [customSort]="true" [tableStyle]="{'min-width': '60rem'}">
            <ng-template pTemplate="header">
                <tr style="color: aliceblue;">
                    <th pSortableColumn="#" style="width:15%">#</th>
                    <th pSortableColumn="name" style="width:20%"><p-sortIcon field="name" style="margin-right: 20px; color: red"></p-sortIcon>Name</th>
                    <th pSortableColumn="description" style="width:45%"><p-sortIcon field="description" style="margin-right: 20px;"></p-sortIcon>Description</th>
                    <th pSortableColumn="action" style="width:10%; text-align: center">Action <p-sortIcon field="action"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product >
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
