input {
    display: table-cell;
    vertical-align: middle
}

.radio-buttons {
    display: flex;
    align-items: center;
  }
  
  .radio-buttons label {
    margin-right: 10px;
  }
  
    .button_login{
        background-color: #FF7849;
        color: #fff;
        font-size: x-large;
        font-weight: bolder;
    }

  /*  */
  .login-block {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-top: 100px;
    height: 451.5px;
}

.title_input {
    /* font-weight: bold; */
    color: #333;
    margin-bottom: 10px;
}

.password {
    /* font-weight: bold; */
    text-align: left;
    margin-bottom: 5px;
}

.forgot_password {
    float: right;
    color: #333;
    opacity: 0.8;
    margin-bottom: 10px;
}

.radio-buttons {
    margin-bottom: 15px;
}

.button_login {
    background-color: #FF7849;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.button_login:hover {
    background-color: #FF5733;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio-buttons input[type="radio"] {
    margin-right: 5px;
}

.radio-buttons label {
    font-weight: normal;
    color: #333;
}

label > a {
    color: #FF7849;
    text-decoration: none;
    transition: color 0.3s ease;
}

label > a:hover {
    color: #FF5733;
}

/* .register{
    color: #3B82F6;
} */

.txt_input{
    background-color: #f8f9fa;
}

.account-title{
    color: #000;
}

label[for="register-link"] {
    visibility: visible; /* Hiển thị label khi cần thiết */
    color: #3B82F6;
    text-decoration: none;
    transition: color 0.3s ease;
}

label[for="register-link"]:hover {
    color: #FF5733;
}