<div *ngIf="bookchapter$ | async as BookChapters"> 
    <p-table
        #dt
        [value]="BookChapters"
        [rows]="7"
        [paginator]="true"
        [globalFilterFields]="['chapter', 'identifyId', 'description', 'status']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
    >
        <ng-template pTemplate="caption">
            <div class="justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="page-title">Book Chapter</h3>
                   <!-- <div class="p-input-icon-left">
                        <i class="la la-search"></i>
                        <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search..." style="width: 30rem;"/>
                    </div>
                    <div>
                        <button pButton pRipple label="New Publisher" icon="fa fa-plus" class="btn-primary" (click)="edit('')"></button>
                        <button pButton pRipple icon="la la-trash" class="p-button-secondary mx-2"></button>
                    </div>-->
                </div>
            </div>          
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="chapter">Chapter <p-sortIcon field="chapter"></p-sortIcon></th>
                <th pSortableColumn="identifyId">ID <p-sortIcon field="identifyId"></p-sortIcon></th>
                <th pSortableColumn="description">descriptione<p-sortIcon field="description"></p-sortIcon></th>
                <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                <th pSortableColumn="action" style="min-width:10rem; text-align: center;">Action</th>
            </tr>
            <tr>
                <th></th>
                <th>
                  <p-columnFilter type="text" field="chapter"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="identifyId"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="text" field="description"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="status"></p-columnFilter>
                </th>
                <th></th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bookchapter of bookchapters>
            <tr>
                <td>
                    <p-tableCheckbox [value]="bookchapter"></p-tableCheckbox>
                </td>
                <td>{{ bookchapter.chapter }}</td>
                <td>{{ bookchapter.identifyId }}</td>
                <td>{{ bookchapter.description }}</td>
                <td>{{ bookchapter.status}}</td>
                <td style="text-align: center;">
                    <button pButton pRipple icon="la la-pencil" class="p-button-rounded btn-primary" style="margin-right: 5px;" (click)="edit(bookchapter.id)"></button>
                    <button pButton pRipple icon="la la-trash" class (click)="deleteBookChapter(bookchapter)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
