<div class="mx-4">
    <h3 class="page-title">Book </h3>
    <h4>Detail Information</h4>
    <div class="row border p-3 profile" *ngIf="book$ | async as book">
        <div class="col-2 vertical-center">
            <div *ngIf="book.bookImages?.length">
                <p-galleria [value]="book.bookImages" [circular]="true" [showThumbnails]="false"
                    [containerStyle]="{ 'max-width': '500px' }">
                    <ng-template pTemplate="item" let-item>
                        <img style="border-radius: 5%;" [src]="item.base64" class="rsp-Image" />
                    </ng-template>
                </p-galleria>
            </div>
        </div>
        <div class="col-3 vertical-center">
            <div class="text-ellipsis min-w-100">
                <div class="mb-3 d-flex w-100">
                    <div class="title">Name:</div>
                    <div class="text">{{ book.name }}</div>
                </div>

                <div class="mb-3 d-flex w-100">
                    <div class="title">Category(s)</div>
                    <div class="text">
                        <span *ngFor="let bookCategory of book.bookCategories">
                            {{bookCategory.category.name}},
                        </span>
                    </div>
                </div>

                <div class="mb-3 d-flex w-100">
                    <div class="title">Chapters:</div>
                    <div class="text">{{ book.bookChapters?.length }} </div>
                </div>
            </div>
        </div>
        <div class="column-border-right col-1"></div>
        <div class="col-5 vertical-center">
            <div class="text-ellipsis min-w-100">
                <div class="mb-3 d-flex w-100">
                    <div class="title">Author(s):</div>
                    <div class="text">
                        <span *ngFor="let bookAuthor of book.bookAuthors">
                            {{bookAuthor.author.name}},
                        </span>
                    </div>
                </div>

                <div class="mb-3 d-flex w-100">
                    <div class="title">Publisher(es):</div>
                    <div class="text">
                        <span *ngFor="let bookPublisher of book.bookPublishers">
                            {{bookPublisher.publisher.name}},
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1" style="text-align: right;">
            <p class="la la-edit" (click)="editBook(book.id)"></p>
        </div>
    </div>
    <div *ngIf="book$ | async as book">
        <p-table #dt [value]="book?.bookChapters || []" [rows]="7" [paginator]="true"
            [globalFilterFields]="['chapter', 'identifyId', 'description', 'status']"
            [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="caption" let-bookchapter of bookChapters>
                <div class="justify-content-between align-items-center">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="page-title">Book Chapter</h3>
                        <div>
                            <button (click)="edit('')" *ngIf="bookDetailPermission?.create" pButton pRipple
                                label="New Chapter" icon="fa fa-plus" class="btn-primary" (click)="edit('')"></button>
                            <button *ngIf="bookDetailPermission?.delete"
                                (click)="deleteBookChapter(bookchapter.id || '')" pButton pRipple icon="la la-trash"
                                class="p-button-secondary mx-2"></button>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="chapter">Chapter <p-sortIcon field="chapter"></p-sortIcon></th>
                    <th pSortableColumn="identifyId">ID <p-sortIcon field="identifyId"></p-sortIcon></th>
                    <th pSortableColumn="description">Description<p-sortIcon field="description"></p-sortIcon></th>
                    <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                    <th pSortableColumn="action" style="min-width:7rem; text-align: center;">Action</th>
                </tr>
                <tr>
                    <th></th>
                    <th>
                        <p-columnFilter type="text" field="chapter"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="identifyId"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="description"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="status"></p-columnFilter>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-bookchapter of bookChapters>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="bookchapter"></p-tableCheckbox>
                    </td>
                    <td>{{ bookchapter.chapter }}</td>
                    <td>{{ bookchapter.identifyId }}</td>
                    <td>{{ bookchapter.description }}</td>
                    <td>{{ BookChapterStatus[bookchapter.status] }}</td>
                    <td style="text-align: center;">
                        <button *ngIf="bookDetailPermission?.edit" (click)="edit(bookchapter.id || '')" pButton pRipple
                            icon="la la-pencil" class="p-button-rounded btn-primary" style="margin-right: 5px;"
                            (click)="edit(bookchapter.id)"
                        >
                        </button>

                        <button *ngIf="bookDetailPermission?.delete" (click)="deleteBookChapter(bookchapter.id || '')"
                            pButton pRipple icon="la la-trash" class="p-button-rounded p-button-secondary"
                            (click)="deleteBookChapter(bookchapter)"
                        >
                        </button>

                        <button *ngIf="isStudent"
                            pButton pRipple icon="bi bi-cart-check-fill" class="p-button-rounded btn-primary"
                            (click)="addToCart(bookchapter.id || '', book.name, bookchapter.chapter)"
                        >
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>