<div>
    <div class="mx-4">
        <h3 class="page-title">Library Card</h3>
        <h4>Detail Information</h4>
        <div class="card border border-light border-2 card-file">
            <div class="row m-3 profile" *ngIf="libraryCard$ | async as libraryCard">
                <div class="col-2 vertical-center">
                    <div>
                        <p-galleria [value]="libraryCard.studentImages" [circular]="true" [showThumbnails]="false"
                            [containerStyle]="{ 'max-width': '500px' }">
                            <ng-template pTemplate="item" let-item>
                                <img style="border-radius: 5%;" [src]="item.base64" class="rsp-Image" />
                            </ng-template>
                        </p-galleria>
                    </div>
                </div>
                <div class="col-3 vertical-center">
                    <div class="text-ellipsis min-w-100" style="overflow: hidden">
                        <div class="mb-3 d-flex w-100">
                            <div class="title">Name:</div> 
                            <div class="text">{{ libraryCard.name }}</div>
                        </div>
        
                        <div class="mb-3 d-flex w-100">
                            <div class="title">Student ID:</div> 
                            <div class="text">{{ libraryCard.studentId }}</div>
                        </div>
        
                        <div class="mb-3 d-flex w-100">
                            <div class="title">Class:</div> 
                            <div class="text">{{ libraryCard.class }}</div>
                        </div>
                    </div>
                </div>
                <div class="column-border-right col-1"></div>
                <div class="col-5 vertical-center">
                    <div class="text-ellipsis min-w-100" style="overflow: hidden">
                        <div class="mb-3 d-flex w-100">
                            <div class="title">Expiry Date:</div> 
                            <div class="text">{{ libraryCard.expiryDate | date: 'dd/MM/yyyy' }}</div>
                        </div>
        
                        <div class="mb-3 d-flex w-100">
                            <div class="title">Status:</div> 
                            <div class="text">{{ LibraryCardStatus[libraryCard.status] }}</div>                    
                        </div>
        
                        <div class="mb-3 d-flex w-100">
                            <div class="title">Description:</div> 
                            <div class="text">{{ libraryCard.description }}</div>                    
                        </div>
                    </div>
                </div>
                <div class="col-1" style="text-align: right;">
                    <p class="la la-edit" (click)="editLibraryCard()"></p>
                </div>
            </div>
        </div>
        
    </div>
    <div class="history-record-list" *ngIf="libraryCard$ | async as LibraryCard">
        <p-table 
            #dt 
            [value]="histories" 
            [rows]="7"
            [paginator]="true"
            [globalFilterFields]="['name','chapter', 'borrowDate', 'endDate']"
            [tableStyle]="{ 'min-width': '75rem' }"
            [rowHover]="true" 
            dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
            [showCurrentPageReport]="true"
            editMode="row"
        >
            <ng-template pTemplate="caption" let-card of LibraryCard>
                <div class="justify-content-between align-items-center">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="page-title">Borrow History</h3>
                        <!-- <div class="p-input-icon-left">
                          <i class="la la-search"></i>
                          <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search keyword..."/>
                        </div> -->
                        <div>
                            <button *ngIf="libarycardDetailPermission?.create" (click)="edit(card.id || '')" pButton pRipple label="New Record" icon="fa fa-plus" class="btn-primary" (click)="edit(LibraryCard.status)"></button>
                            <button *ngIf="libarycardDetailPermission?.delete" (click)="deleteBorrowHistory(card.id || '')" pButton pRipple icon="la la-trash" class="p-button-secondary mx-2"></button>
                        </div>
                    </div>
                </div>        
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: .5rem;">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="bookChapter.book.name">Book Name <p-sortIcon field="bookChapter.book.name"></p-sortIcon></th>
                    <th pSortableColumn="bookChapter.chapter">Chapter <p-sortIcon field="bookChapter.chapter"></p-sortIcon></th>
                    <th pSortableColumn="borrowDate">Borrow Date <p-sortIcon field="borrowDate"></p-sortIcon></th>
                    <th pSortableColumn="endDate">End Date <p-sortIcon field="endDate"></p-sortIcon></th>
                    <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                    <th style="width: 6rem;"></th>
                </tr>
                <tr>
                    <th></th>
                    <th>
                        <p-columnFilter type="text" field="bookChapter.book.name"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="bookChapter.chapter"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter [showMenu]="false" field="borrowDate">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <datetime-picker (ngModelChange)="dateFilter($event, 'borrowDate')" [dateFormat]="'dd/mm/yy'" [(ngModel)]="borrowDateSort"></datetime-picker>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter [showMenu]="false" field="endDate">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <datetime-picker (ngModelChange)="dateFilter($event, 'endDate')" [dateFormat]="'dd/mm/yy'" [(ngModel)]="endDateSort"></datetime-picker>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th  style="max-width: 15rem; min-width: 15rem;">
                        <p-columnFilter matchMode="in" [showMenu]="false" field="status">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect 
                                    [ngModel]="value" 
                                    [options]="options" 
                                    (onChange)="filter($event.value)" 
                                    optionLabel="label"
                                    optionValue="value"
                                >
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template 
                pTemplate="body" 
                let-history
                let-editing="editing" 
                let-ri="rowIndex"
                let-card of LibraryCard
            >
                <tr [pEditableRow]="history">
                    <td>
                        <p-tableCheckbox [value]="history"></p-tableCheckbox>
                    </td>
                    <td>
                        {{ history.bookChapter.book.name }}
                    </td>
                    <td>{{ history.bookChapter.chapter }}</td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <datetime-picker [dateFormat]="'dd/mm/yy'" appendTo="body" [(ngModel)]="history.borrowDate"></datetime-picker>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ history.borrowDate | date: 'dd/MM/yyyy' }}
                            </ng-template>
                        </p-cellEditor>
                        
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <datetime-picker [dateFormat]="'dd/mm/yy'" appendTo="body" [(ngModel)]="history.endDate"></datetime-picker>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ history.endDate | date: 'dd/MM/yyyy' }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <ng-select-item [options]="options" appendTo="body" [(ngModel)]="history.status"></ng-select-item>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ BorrowHistoryStatus[history.status] }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <div class="flex align-items-center justify-content-center gap-2">
                            <button *ngIf="!editing && libarycardDetailPermission?.edit" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(history)" class="p-button-rounded p-button-text"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(history)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(history, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    In total there are {{ LibraryCard.borrowHistories?.length}} records.
                </div>
            </ng-template>
        </p-table>
    </div>
</div>