.column-border-right {
    border-right: 1px solid #000;
    border-right-style: dashed; 
  }
  .vertical-center {
    display: flex;
    align-items: center;
}

.history-record-list {
  .p-datatable > .p-datatable-wrapper {
    overflow: visible !important;
  }
}
 