<div class="content container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="file-wrap">
                <div class="file-cont-wrap">
                    <div class="file-cont-inner">
                        <div class="file-cont-header">
                            <div class="page-header my-2 w-100">
                                <div class="row align-items-center ">
                                    <div class="col">
                                        <h3 class="page-title font-weight-bold">Book List</h3>
                                    </div>
                                    <div class="col-auto float-end ms-auto">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="file-content">
                            <div class="m-3">
                                <form [formGroup]="form" class="row" (submit)="search()">
                                    <formly-form class="col-10" [model]="data" [fields]="fields" [options]="options"
                                        [form]="form"></formly-form>
                                    <div class="col-2  d-flex align-items-center">
                                        <button class="btn btn-primary w-100 mb-3"
                                            style="height: 49.8px; margin-bottom: 0px !important; margin-top: 11.9px;"
                                            type="submit">
                                            <i class="fa fa-search"></i>
                                            Search
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div *ngIf="books$ | async as book" class="file-body">
                                <div class="file-scroll">
                                    <div class="file-content-inner">
                                        <div class="row row-sm">
                                            <div *ngFor="let book of book"
                                                class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-2"
                                                style="max-width: 250px;">
                                                <div class=" card card-file">
                                                    <div style="overflow: hidden;">
                                                        <p-galleria [value]="book.bookImages" [circular]="true"
                                                            [showThumbnails]="false" [showItemNavigatorsOnHover]="true"
                                                            [showItemNavigators]="true"
                                                            [containerStyle]="{ 'max-width': '500px' }">
                                                            <ng-template pTemplate="item" let-item>
                                                                <img [src]="item.base64" class="rsp-Image" />
                                                            </ng-template>
                                                        </p-galleria>
                                                    </div>
                                                    <div *ngIf="!book.bookImages?.length" class="card-file-thumb">
                                                        <i class="fa fa-image"></i>
                                                    </div>
                                                    <div class="card-body text-truncate" style="overflow: hidden">
                                                        <h6 class="text-truncate" style="font-size: 18px;">
                                                            <strong>
                                                                <a href="javascript:" [pTooltip]="book.name"
                                                                    (click)="bookChapter(book.id || '')"
                                                                    class="text-global">
                                                                    {{book.name}}
                                                                </a>
                                                            </strong>
                                                        </h6>
                                                        <span style="font-weight: 900;">Author(s): </span><span
                                                            [pTooltip]="book.authorName"
                                                            tooltipPosition="bottom">{{book.authorName}} </span>
                                                    </div>
                                                    <div class="card-footer text-truncate" style="overflow: hidden">
                                                        <span style="font-weight: 900;">Category(es): </span><span
                                                            *ngFor="let bookCategory of book.bookCategories">{{bookCategory.category.name}},
                                                        </span>
                                                    </div>
                                                    <div class="card-footer text-truncate" style="overflow: hidden">
                                                        <span style="font-weight: 900;">Publisher(s): </span><span
                                                            *ngFor="let bookPublisher of book.bookPublishers">{{bookPublisher.publisher.name}},
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>