<div class="content container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="file-wrap">
                <nav class="navbar navbar-light bg-white">
                    <div class="container-fluid">
                        <span class="PM"> Publisher Managements </span>
                        <button type="button" class="btn-primary text-white rounded-pill p-2" (click)="edit('')">
                            <i class="fa fa-plus"> Add Publisher </i> 
                        </button>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<link href="~/publishers-manegement.component.css">
