<p>dddd</p>
<div class="pl-1" style="margin-left: 1rem;">
    <button type="button" class="col-1" (click)="edit('')">Add new</button>

    <!-- <div *ngIf="category$ | async as categorys">
    </div> -->
    <div class="row" *ngFor="let category of categoryData">
        <p class="col-3">{{ category.id }}</p>
        <p class="col-3">{{ category.name }}</p>
        <p class="col-3">{{ category.description }}</p>
        <button type="button" class="col-1" (click)="edit(category.id)">Edit</button>
    </div>
</div>