/* General */
.text-global {
    color: #FF7849 !important;
}

.bg-global {
    background-color: #FF7849;
}

.p-tooltip-text {
    font-size: 15px;
}

.page-title {
    font-weight: 600;
}

.bg-light-gray {
    background-color: #f8f9fa;
}

.p-inputtext {
    height: 50.35px !important;
}

.p-datatable-loading-overlay {
    opacity: 0.35;
}

/* Header */
.header {
    background: linear-gradient(to right, #ff9b44 0%, #fc6075 100%);
}

@media only screen and (min-width: 991px) {
    .mini-sidebar .header-left .logo img {
        height: auto;
        max-height: 50px;
        width: auto;
        margin: 0 auto;
    }
}

/* Modal */
.form-label > span {
    color: red !important;
}

/* Side bar */
.sidebar {
	color: #fff;
    background: #1f1f1f;
    
    .subdrop {
        background: #1f1f1f;
    }
}

.sidebar-menu li a {
    text-transform: none;
}

.sidebar-menu > ul > li.submenu ul li a {
	color: #fff;
	background: #1f1f1f;
	display: flex;
}

.sidebar-menu > ul > li.submenu ul li:hover a {
	color: #FF7849;
	background: #1f1f1f;
    cursor: pointer;
}

.file-wrap .file-sidebar {
    height: 100%;
}

.file-wrap .file-scroll {
    max-height: 50rem;

}

.file-wrap .file-content,
.file-body .file-content-inner {
    padding-bottom: 0px !important;
}

/* PrimeNG Table */
.p-datatable-thead th {
    padding: .5rem 1rem !important;
}

.confirmDialog {
    width: 40vw;
    z-index: 9999 !important;
}

/* PrimeNG DateTime Picker */
.p-datepicker .p-datepicker-buttonbar, 
.p-datepicker .p-datepicker-header {
    padding: 0;
}

/* PrimeNG Button */
.p-button {
    border-radius: 6px;
}

.p-button.p-button-icon-only {
    width: 2rem;
}

.p-button.p-button-icon-only.p-button-rounded {
    height: 2rem;
}

/* Book Management */
.file-body {
    overflow: auto;
    height: 480px;
}

.book-management.file-wrap {
    border: none;
}
.file-wrap .file-cont-wrap {
    margin-left: 0px;
}

.rsp-Image {
    max-width: 100%;
    height: 200px;
}

/* Books Modal */
.form-child-title {
    margin-left: 10px;
    font-weight: 700;
    font-size: 22.3px;
}

/* Profile */
.profile {
    background-color: #ffffff;
}

.column-border-right {
    border-right: 1px solid #000;
    border-right-style: dashed; 
  }
  .vertical-center {
    display: flex;
    align-items: center;
}

 