<div class="page-header-custom">
    <div class="row">
        <div class="col">
            <h3 class="page-title font-weight-bold">Employee</h3>
        </div>
        <div class="col-auto float-end ms-auto">
            <a 
                href="javascript:" 
                class="btn add-btn" 
                data-bs-toggle="modal" 
                data-bs-target="#add_employee" 
                (click)="editItem('')"
            >
                <i class="fa fa-plus"></i> 
                Add Employee
            </a>
        </div>
    </div>
</div>