<div *ngIf="employees$ | async as Employees">
    <p-table
        #dt
        [rows]="7"
        [paginator]="true"
        [value]="employee"
        [globalFilterFields]="['name', 'email', 'phone', 'joinDate', 'roleId', 'accountId']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
        [scrollable]="true" scrollHeight="545px"
    >
        <ng-template pTemplate="caption">
            <div class="justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="page-title">Employee Accounts List</h3>
                    <div>
                        <button pButton pRipple label="New Author" icon="la la-plus" class="btn-primary" (click)="editItem('')"></button>
                        <button pButton pRipple icon="la la-trash" class="p-button-secondary mx-2"></button>
                    </div>
                </div>
            </div>
            
        </ng-template>
        <ng-template pTemplate="header">    
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="email">Mail<p-sortIcon field="email"></p-sortIcon></th>
                <th pSortableColumn="phone">Phone <p-sortIcon field="phone"></p-sortIcon></th>
                <th pSortableColumn="joinDate">Join Date <p-sortIcon field="joinDate"></p-sortIcon></th>
                <th pSortableColumn="roleId">Role <p-sortIcon field="roleId"></p-sortIcon></th>
                <th pSortableColumn="accountId">Account <p-sortIcon field="accountId"></p-sortIcon></th>
                <th pSortableColumn="action" style="min-width:10rem; text-align: center;">Action</th>
            </tr>
            <tr>
                <th></th>
                <th>
                  <p-columnFilter type="text" field="name"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="email"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="text" field="phone"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="text" field="joinDate"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="roleId"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="accountId"></p-columnFilter>
                </th>
                <th></th>
              </tr>
        </ng-template>     

        <ng-template pTemplate="body" let-employee of employees>
            <tr>
                <td>
                    <p-tableCheckbox [value]="employee"></p-tableCheckbox>
                </td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.phone }}</td>
                <td>{{ employee.joinDate}}</td>
                <td>{{ employee.roleId}</td>
                <td>{{ employee.accountId}}</td>
                <td style="text-align: center;">
                    <button pButton pRipple icon="la la-pencil" class="p-button-rounded btn-primary" style="margin-right: 5px;" (click)="editItem(employee.id)"></button>
                    <button pButton pRipple icon="la la-trash" class="p-button-rounded p-button-secondary" (click)="deleteEmployee(employee)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>