<div class="container">
  <div class="row mb-3">
    <div class="col-md-4 d-flex justify-content-between">
      <form>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchQuery">
        </div>
      </form>

      <button type="button" class="col-1">Add new</button>
    </div>
  </div>

  <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let author of filteredAuthors; let i = index">
        <td>{{ author.id }}</td>
        <td>{{ author.name }}</td>
        <td>{{ author.email }}</td>
        <td>{{ author.phone }}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="editAuthor(i)">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="deleteAuthor(i)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
