<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Library Card Management</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Library Cards</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group mb-3">
          <input
          type="text"
          class="search-input"
          [(ngModel)]="searchText"
          (input)="updateFilteredLibraryCards()"
          placeholder="Search..."
          />
        </div>
      </div>
      <div class="col-md-6 text-right">
        <button class="btn add-card-button" (click)="addCard()">Add Card</button>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th (click)="sort('name')">
            Name
            <span class="sort-icon" [ngClass]="{
              'asc': sortDirection === 1 && sortBy === 'name',
              'desc': sortDirection === -1 && sortBy === 'name'
            }"></span>
          </th>
          <th (click)="sort('class')">
            Class
            <span class="sort-icon" [ngClass]="{
              'asc': sortDirection === 1 && sortBy === 'class',
              'desc': sortDirection === -1 && sortBy === 'class'
            }"></span>
          </th>
          <th (click)="sort('expirydate')">
            Expiry Date
            <span class="sort-icon" [ngClass]="{
              'asc': sortDirection === 1 && sortBy === 'expirydate',
              'desc': sortDirection === -1 && sortBy === 'expirydate'
            }"></span>
          </th>
          <th (click)="sort('status')">
            Status
            <span class="sort-icon" [ngClass]="{
              'asc': sortDirection === 1 && sortBy === 'status',
              'desc': sortDirection === -1 && sortBy === 'status'
            }"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of filteredLibraryCards" [ngClass]="{
          'active-status': card.status === 'Active',
          'inactive-status': card.status === 'Inactive',
          'expired-status': card.status === 'Expired'
        }">
          <td>
            <div class="avatar">
            <img src="{{ card.avatar }}" alt="{{ card.name }}"> {{ card.name }}
            </div>
          </td>
          <td>{{ card.class }}</td>
          <td>{{ card.expirydate }}</td>
          <td>{{ card.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
