<span [class]="showIcon ? 'p-input-icon-right' : ''">
  <i *ngIf="showIcon" [class]="iconClass" (click)="changeMode()" ></i>

  <input *ngIf="!suffix && !prefix"
    class="form-control input-control"
    [ngClass]="formCls"
    pInputText
    [id]="uniqueId"
    [type]="type"
    [(ngModel)]="value"
    [autocomplete]="autocomplete ? 'on' : 'off'"
    [attr.readonly]="readonly ? '' : null"
    [attr.tabindex]="readonly || disabled ? '-1' : 1"
    [placeholder]="placeholder"
    [attr.minlength]="minlength"
    [attr.maxlength]="maxlength"
    [attr.min]="min"
    [attr.max]="max"
    [attr.step]="step"
    [attr.data-test]="testId"
    [disabled]="disabled"
    (change)="change()"
    (keyup)="onKeyUp($event)"
    (blur)="touched($event)"
    [required]="required"
    [pKeyFilter]="keyFilter"
    [attr.showIcon]="showIcon">

    <div *ngIf="suffix || prefix" class="p-inputgroup">
      <span *ngIf="prefix" class="p-inputgroup-addon">{{ prefix }}</span>
      <input
        class="form-control input-control"
        [ngClass]="formCls"
        pInputText
        [id]="uniqueId"
        [(ngModel)]="value"
        [autocomplete]="autocomplete ? 'on' : 'off'"
        [attr.readonly]="readonly ? '' : null"
        [attr.tabindex]="readonly || disabled ? '-1' : 1"
        [placeholder]="placeholder"
        [attr.minlength]="minlength"
        [attr.maxlength]="maxlength"
        [attr.min]="min"
        [attr.max]="max"
        [attr.step]="step"
        [attr.data-test]="testId"
        [disabled]="disabled"
        (change)="change()"
        (keyup)="onKeyUp($event)"
        (blur)="touched($event)"
        [required]="required"
        [pKeyFilter]="keyFilter"
        [attr.showIcon]="showIcon"/>
        <span *ngIf="suffix" class="p-inputgroup-addon">{{ suffix }}</span>
    </div>
  </span>
  <ng-content></ng-content>
