<!-- <p>books-management works!</p>
<button type="button" (click)="editItem('')">click</button>
<router-outlet name="modal"></router-outlet> -->

<div class="content container-fluid">
				
    <div class="row">
        <div class="col-sm-12">
            <div class="file-wrap">
                <div class="file-sidebar">
                    <div class="file-header justify-content-center">
                        <span>Categories</span>
                        <a href="javascript:void(0);" class="file-side-close"><i class="fa fa-times"></i></a>
                    </div>
                    <form class="file-search">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <i class="fa fa-search"></i>
                            </div>
                            <input type="text" class="form-control rounded-pill" placeholder="Search">
                        </div>
                    </form>
                    <div class="file-pro-list">
                        <div class="file-scroll">
                            <ul class="file-menu">
                                <li [class]="category.value === selectedCategory ? 'bg-global' : '' " *ngFor="let category of categories">
                                    <a [class]="category.value === selectedCategory ? 'text-light font-weight-bold' : ''" href="javascript:void(0);" (click)="categoryChange(category.value)" >{{category.label}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="file-cont-wrap">
                    <div class="file-cont-inner">
                        <div class="file-cont-header">
                            <span>Book Management</span>
                            <div class="file-options">
                                <a href="javascript:void(0);" class="btn-file" (click)="editItem('')"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="file-content">
                            <form class="file-search">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <input type="text" class="form-control rounded-pill" placeholder="Search">
                                </div>
                            </form>
                            <div *ngIf="books.length" class="file-body">
                                <div class="file-scroll">
                                    <div class="file-content-inner">
                                        <div class="row row-sm">
                                            <div *ngFor="let book of booksDisplay" class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3">
                                                <div class="card card-file">
                                                    <div class="dropdown-file">
                                                        <a href="" class="dropdown-link" data-bs-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="javascript:" class="dropdown-item" (click)="editItem(book.id || '')">View Details</a>
                                                            <a href="javascript:" class="dropdown-item" (click)="deleteItem(book.id || '')">Delete</a>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="book.bookImages?.length">
                                                        <span *ngFor="let bookImage of book.bookImages">
                                                            <img [src]="bookImage.base64" class="img-fluid" alt="Responsive image">
                                                        </span>
                                                    </div>

                                                    <div *ngIf="!book.bookImages?.length" class="card-file-thumb">
                                                        <i class="fa fa-image"></i>
                                                    </div>

                                                    <div class="card-body">
                                                        <h6><a href="">{{book.name}}</a></h6>
                                                        <span>{{book.authorName}} </span>
                                                    </div>
                                                    <div class="card-footer">
                                                        <span *ngFor="let bookCategory of book.bookCategories">{{bookCategory.category.name}}, </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>