<div class="main-wrapper">
    <div class="account-content">
        <div class="container">
        
            <!-- Account Logo -->
            <div class="account-logo">
                <a href="admin-dashboard.html"><img src="assets/img/logo.png" alt="Dreamguy's Technologies"></a>
            </div>
            <!-- /Account Logo -->
            
            <div class="account-box">
                <div class="account-wrapper">
                    <h3 class="account-title">Forgot Password</h3>
                    <p class="account-subtitle">Enter your email to get a password reset link</p>
                    
                    <!-- Account Form -->
                    <form [formGroup]="form" (submit)="request()">
                        <formly-form [model]="data" [fields]="fields" [options]="options" [form]="form"></formly-form>
                        <p class="text-danger">{{ error }}</p>
                        <div style="text-align: center;">
                            <button type="submit" class="btn btn-primary submit-btn" [disabled]="form.invalid">Send</button>
                        </div>
                    </form>
                    <!-- /Account Form -->
                      <div class="account-footer mt-2">
                        <p>
                            Remember your password? 
                            <a href="javascript:" routerLink="/login">Login</a>
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
  </div>