.container {
  margin-top: 50px;
}

.active-status {
  color: green;
}

.inactive-status {
  color: red;
}

.expired-status {
  color: dimgray;
}

.sort-icon {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-left: 5px;
}

.asc {
  border-bottom: 5px solid #000;
}

.desc {
  border-top: 5px solid #000;
}


.avatar {
  display: flex;
  align-items: center;
}

.avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.add-card-button {
  background-color: orange;
  border: none;
  border-radius: 90px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.add-card-button:hover {
  background-color: darkorange;
}

.search-input {
  width: 200px;
  padding: 8px;
  border: 1px solid orange;
  border-radius: 10px;
  background-color: transparent;
  color: orange;
}

.search-input::placeholder {
  color: orange;
}
