<div *ngIf="libraryCard$ | async as LibraryCard"> 
    <p-table
        #dt
        [value]="LibraryCard"
        [globalFilterFields]="['phone','name', 'mail']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
        [scrollable]="true" scrollHeight="545px"
    >
        <ng-template pTemplate="caption">
            <div class="justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="page-title">Library Card List</h3>
                    <!-- <div class="p-input-icon-left">
                        <i class="la la-search"></i>
                        <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search keyword..."/>
                    </div> -->
                    <div>
                        <button pButton pRipple label="New Card" icon="fa fa-plus" class="btn-primary" (click)="edit('')"></button>
                        <button pButton pRipple icon="la la-trash" class="p-button-secondary mx-2"></button>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name" style="min-width:15rem">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="studentId" style="min-width:15rem">Card ID <p-sortIcon field="studentId"></p-sortIcon></th>
                <th pSortableColumn="class">Class <p-sortIcon field="class"></p-sortIcon></th>
                <th pSortableColumn="expirydate">Expiry Date <p-sortIcon field="expirydate"></p-sortIcon></th>
                <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                <th pSortableColumn="action" style="min-width:10rem; text-align: center;">Action</th>
            </tr>
            <tr>
              <th></th>
              <th>
                <p-columnFilter type="text" field="name"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="studentId"></p-columnFilter>
              </th>
              <th>
                  <p-columnFilter type="text" field="class"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="expirydate"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="status"></p-columnFilter>
              </th>
              <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-card of LibraryCard>
            <tr>
                <td>
                    <p-tableCheckbox [value]="card"></p-tableCheckbox>
                </td>
                <td>
                    <span style="vertical-align: middle;">
                        <p-avatar 
                            *ngIf="card.studentImages.length"
                            [image]="card.studentImages[0].base64" 
                            size="large" 
                            shape="circle"
                        >
                        </p-avatar>
                    </span>
                    <span class="ml-1 text-global fw-bold" style="vertical-align: middle; cursor: pointer;" (click)="goToDetail(card.id)">
                        {{ card.name }}
                    </span>
                </td>
                <td>{{ card.studentId }}</td>
                <td>{{ card.class }}</td>
                <td>{{ card.expiryDate | date: 'dd/MM/yyyy' }}</td>
                <td>{{ LibraryCardStatus[card.status] }}</td>
                <td style="text-align: center;">
                    <button pButton pRipple icon="la la-pencil" class="p-button-rounded btn-primary" style="margin-right: 5px;" (click)="edit(card.id)"></button>
                    <button pButton pRipple icon="la la-trash" class="p-button-rounded p-button-secondary" (click)="deleteLibraryCard(card)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">In total there are {{ LibraryCard? LibraryCard.length : 0 }} Library Cards.</div>
        </ng-template>
    </p-table>
  </div>
  