<app-header></app-header>
<p-toast></p-toast>
<app-side-bar></app-side-bar>
<p-confirmDialog [styleClass]="'confirmDialog'" key="positionDialog" position="top" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>

<div id="feature-module" style="margin-top: 70px; margin-left: 65px;">
    <router-outlet></router-outlet>
</div>
<router-outlet name="modal"></router-outlet>
<!-- 
<div class="import" style="margin-left: 75px;">
    <h3 class="page-title">MAIN page</h3>
    <button type="button">Import Excel</button>
    <gc-spread-sheets [backColor]='spreadBackColor' [hostStyle]="hostStyle" (workbookInitialized)="workbookInit($event)">
    </gc-spread-sheets>
</div> -->