
<div class="px-4 py-5 md:px-6 lg:px-8">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Books</span>
                        <div class="text-900 font-medium text-xl">{{ this.totalBooks }}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-book text-blue-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Authors</span>
                        <div class="text-900 font-medium text-xl">{{ this.totalAuthors }}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-user text-orange-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Publishers</span>
                        <div class="text-900 font-medium text-xl">{{ this.totalPublishers }}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="fa fa-address-book text-purple-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Readers</span>
                        <div class="text-900 font-medium text-xl">{{ this.totalReaders }}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="p-5">
    <div class="card p-2">
        <div class="row" style="text-align: center;">
            <h3 class="page-title mx-3 text-global">DASHBOARD</h3>
            <div class="col-6" style="text-align: center;">
                <p-chart type="bar" [data]="data" [options]="options"></p-chart>
            </div>
            <div class="col-6" style="text-align: center;">
                <p-chart type="doughnut" [data]="data2" [options]="options2"></p-chart>
            </div>
        </div>
    </div>
</div>